@media (max-width: 425px){
   .center{
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
   }
   .header{
    background-image: url(./img/starshead.svg), url(./img/bigstarmobile.svg), url(./img/star2mobil.svg);
    background-repeat: no-repeat;
    background-position: 5% 14%, calc(100% + 90px) -23%, 93% 97%;
   }
   .header__box{
    text-align: center;
    padding-top: 147px;
    &-heading{
        font-size: 40px;
        line-height: 49px;
        font-weight: bold;
        width: 262px;
        padding-right: 40px;
        padding-left: 40px;
    }
    &-textdescription{
        font-size: 16px;
        line-height: 19.5px; 
    }
    &-button{
        width: 285px;
    }
   }
   .main{
    background-image: none;
    padding-top: 0px;
   }
   .mobile{
    display: none;
     &__img{
        width: 100%;
     }
   }
.lineprokrutka{
    &__img{
        width: 100%;
        height: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
   .conteiner__minigame{
    &-heading{
        padding-bottom: 48px;
        padding-top: 48px;
        font-size: 40px;
    }
       &-boxtext{
            text-align: left;
            margin-top: 25px;
            margin-left: 29px;
            margin-bottom: 35px;
            margin-right: 29px;
    }
       &-name{
        font-size: 32px;
        line-height: 39px;
        text-align: left;
    }
       &-textdescription{
        font-size: 16px;
        line-height: 20px;
    }
   }
   .header__box-buttontext{
    font-size: 16px;
   }
   .order1{
    order: 2;
   }
   .order2{
    order: 1;
   }
}